test widget

<input ng-model="income"></input>
<input ng-model="net"></input>
<input ng-model="time"></input>
<button ng-click="addWidget()">addEvents</button>
list of events
<div>
    <div ng-repeat="x in test">
        {{x.income}}
    </div>

</div>

{{test}}

Profiles
<div ng-repeat="x in profiles">
    Type<br>

    <div ng-repeat="y in x">
        <div class="event">
            hi
            <div class="eventData">
                random name
            </div>
        </div>
    </div>
    <hr>

</div>




<!--<script src="https://code.highcharts.com/highcharts-more.js"></script>-->

<!--&lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.0.5/bluebird.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>&ndash;&gt;-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular-route.min.js"></script>-->
<!--&lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>&ndash;&gt;-->
<!--<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>-->
<!--<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>-->
<!--<script src="https://rawgithub.com/pablojim/highcharts-ng/master/dist/highcharts-ng.js"</script>-->



