<div>
    <div style="width:400px;height:400px;">
        <highchart config="highchartsNG"></highchart>



        <div style="position:relative">
            <div ng-click="start()" style="display:inline-block">
                start
            </div>
            <div ng-click="pause()" style="display:inline-block">
                pause
            </div>
            <div ng-click="replay()" style="display:inline-block">
                replay
            </div>
            <div ng-repeat="x in testabc">
               <button ng-click="changeEvent(x)">{{x}}</button>
            </div>
        </div>
    </div>
</div>