<div>
    <!--<div class="stage">-->
        <!--<hr>-->
        <!--<div class="ball" ng-repeat="x in balls" style="background-color:{{x.color}};top:{{x.y}};left:{{x.x}}">-->

        <!--</div>-->
    <!--</div>-->

    <highchart id="chart1" config="highchartsNG"></highchart>

    <div style="position:relative">
        <div ng-click="start()">
            start
        </div>
        <div ng-click="pause()">
            pause
        </div>
        <div ng-click="replay()">
            replay
        </div>
    </div>
</div>