.categorySwipe{
    width:100px;
    height:100px;
    background-color:red;
    /*float:left;*/
    display:inline-block;
}

.stateFin{

    width:100px;
    height:100px;
    background-color:lightgrey;
    display:inline-block;
}